body{
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
    margin-bottom: 60px; /* Margin to ensure footer doesn't overlap content */
    height: 100%;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.content-wrapper {
    min-height: calc(100vh - 30px); /* Adjust based on your footer height */
    padding-bottom: 30px; /* Height of the footer */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px; /* Height of the footer */
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
    padding-top: 5px; /* Vertical padding inside the footer */
}
.login-container .btn.btn-primary{
    background-color: black;
    color: whitesmoke;
}
.login-container .btn.btn-primary:focus,
.login-container .btn.btn-primary:active{
    background-color: #2e2e2e;
}
.login-container{
    color: black;
}
.register-container{
    color: black;
}
.form-control-registerform{
    border-radius: 5px;
    height: 38px;
    background-color:whitesmoke;
}
.register-container .btn.btn-primary{
    background-color: black;
    color: whitesmoke;
}
.register-container .btn.btn-primary:focus,
.register-container .btn.btn-primary:active{
    background-color: #2e2e2e;
}
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e7c34f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #143601;
    color: #143601;
    border: none;
    cursor: pointer;
}
.navbar {
    background-color: black;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-emphasis-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: 143601;
}
.navbar-nav > li > a, .navbar-brand, .logoutbutton-text, .glyphicon {
    color: whitesmoke !important;
}
.navbar-nav > li > a:hover, .navbar-brand:hover, .logoutbutton:hover .logoutbutton-text, .logoutbutton:hover .logoutbutton-sign svg, .navbar-nav > li > a:hover .glyphicon {
    color: lightgray !important;
}
.navbar .right {
    float: right;
}
button:hover {
    background-color: #0056b3;
}

.home-container{
    color: white;
}

/* Logout button css */


.logoutbutton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    background-color: rgb(17, 17, 17);
}

.logoutbutton-sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoutbutton-sign svg {
    width: 17px;
}

.logoutbutton-sign svg path {
    fill: white;
}

.logoutbutton-text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
    top: 10px;
}

.logoutbutton:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
    background-color: whitesmoke;
}

.logoutbutton:hover .logoutbutton-sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.logoutbutton:hover .logoutbutton-text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.logoutbutton:active {
    transform: translate(2px, 2px);
}

/* End of logout button css */


.flashes {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1000;
}
.flashes .alert {
    margin-bottom: 10px;
}
.flashes li {
    padding: 10px;
    margin-bottom: 10px;
}

.flashes .success {
    background-color: #d4edda;
    color: #155724;
}

.flashes .danger {
    background-color: #f8d7da;
    color: #721c24;
}

.flashes .warning {
    background-color: #fff3cd;
    color: #856404;
}

.flashes .info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.loginform {
    margin-top: 200px;
    margin-right: 100px;
    float: right;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
  }
p.right-aligned {
  text-align: right;
  color: white;
}

/* Dashboard CSS */

.dashboard{
    margin-left: 100px;
    margin-top: 100px;
    width: 680px; /*Add more if you want to implement more features*/
    height: 200px;
}

.dashboard .cards {
    display: flex;
    flex-direction: row;
    gap: 50px; /* Added gap to separate cards */
  }
  
  .dashboard .cards .one {
    padding: 0.5rem;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    overflow: hidden; /* Ensures text doesn't overflow */
    width: 50%;
    margin-left: 10px;
    transition: height 0.4s; /* Smooth transition for height */
  }
  
  .dashboard .cards .two {
    padding: 0.5rem;
    border-radius: 8px;
    backdrop-filter: blur(5px);
   
  }
  .dashboard .cards .three {
    padding: 0.5rem;
    border-radius: 8px;
    backdrop-filter: blur(5px);
   
  }
  
   

  .dashboard .cards .card {
    display: flex;
    align-items: flex-start; /* Align items at the start */
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
    width: 500px;
    border-radius: 10px;
    color: #1f1f1f;
    cursor: pointer;
    transition: transform 0.4s, height 0.4s; /* Smooth transition for height */
  }
  
  .dashboard .cards .card.one p.tip {
    font-size: 1em;
    font-weight: 700;
    margin-left: 36px;
    margin-top:40px;
  }
  .dashboard .cards .card.two p.tip{
    font-size: 1em;
    font-weight: 700;
    margin-left: 20px;
    margin-top:40px;
  }
  .dashboard .cards .card.three p.tip{
    font-size: 1em;
    font-weight: 700;
    margin-left: 36px;
    margin-top:40px;
  }
  
  .dashboard .cards .card p.second-text {
    font-size: 0.7em;
    margin: 10px 0; /* Added margin for spacing */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.4s; /* Smooth transition for opacity */
  }
  
  .dashboard .cards .card:hover {
    transform: scale(1.1);
    height: 300px; /* Increase height on hover */
  }
  
  .dashboard .cards .card:hover p.second-text {
    opacity: 1; /* Reveal second text */
  }
  
  .dashboard .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9);
  }

/* End of Dashboard css */


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    margin-left:30px;
}

.grid-item {
    width: 300px;
    height: 250px;
    text-align: center;
    color: white;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid-item p {
    margin: 0;
    line-height: 1;
    font-size: 18px;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.grid-item.item1 {
    background-color: #3498db;
}

.grid-item.item2 {
    background-color: #2ecc71;
}

/* CSS for weather search */
.row{
    margin-left: 350px !important;
    margin-right: 0px !important;
}
.row .input-group .form-control{
    width: 200px;
    border: 2px solid;
    height: 32px;
    margin-top: 1px;
    justify-content: center;
}
.input-group-btn .btn.btn-primary{
    background-color: #e7c34f;
    border: none;
}

.input-group-btn .btn.btn-primary:focus,
.input-group-btn .btn.btn-primary:active{
    background-color: #b2973c;
}
.weather_data_print {
    width: 60%;
    height: 130px;
    margin-top: 50px;
    margin-left: 307px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2e2e2e;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    display: flex;
}
.weather-container {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.weather-icon {
    width:14%;
    margin-right: 20px;
}
.weather-icon img {
    width: 50px;
    height: 50px;
}
.temperature {
    width: 12%;
    display: flex;
    align-items: top;
    font-size: 3em;
    margin-right: 20px;
}
.temperature span {
    font-size: 0.5em;
    margin-left: 5px;
}
.weather-info {
    width:50%;
    margin-right: 40px;
    font-size: 11px;
}
.weather-info div {
    margin-bottom: 5px;
}
.weather-details {
    width: 16%;
    text-align: right;
}
.weather-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.weather-day {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.weather-description {
    font-size: 1em;
    margin-bottom: 15px;
}
.forcast_data_print {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2e2e2e;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    display: flex;
}
.forecast {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.forecast .day.highlight:hover{
    background-color: black ;
}
.day {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 80px;
    border: none;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    margin:10px;
}
.day img {
    width: 50px;
    height: 50px;
}
.highlight {
    width: 16%;
    background-color: #4e4b4b;
}
.day:focus {
    outline: none;
    box-shadow: 0 0 10px #fff;
}
.paragraph_secondrow{
    display: flex;
    font-size: 15px;
    text-align:center;
}
/* CSS for forest fire prediction */
.form-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    background-color: #2e2e2e;
}
.input-group {
    position: relative;
    margin: 0 10px;
    width: 150px;
    background-color: #2e2e2e;
}
.input-group label {
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 12px;
    background-color: #2e2e2e;
    padding: 0 5px;
    color: whitesmoke;
}
.input-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid wheat;
    outline: none;
    font-size: 16px;
    padding: 5px 0;
    background-color: #2e2e2e;
    color: wheat;
}
.button-container {
    text-align: center;
    margin-top: 35px;
}
.button_predict {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #e7c34f;
    color: black;
    border-radius: 5px;

}
button:hover {
    background-color: #b2973c;
}
.message-container {
    text-align: center;
    margin-top: 70px;
    margin-left: 10px ;
    background: #2e2e2e;
    color: wheat;
    border: 1px solid #2e2e2e;
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
}
.message-container:hover {
    background: wheat;
    color: black;
    cursor: pointer;
}


/* weatherReport Css */

.row{
    margin-left: 350px !important;
    margin-right: 0px !important;
}
.row .input-group .form-control{
    width: 200px;
    border: 2px solid;
    height: 32px;
    margin-top: 1px;
    justify-content: center;
}
.input-group-btn .btn.btn-primary{
    background-color: #e7c34f;
    border: none;
}

.input-group-btn .btn.btn-primary:focus,
.input-group-btn .btn.btn-primary:active{
    background-color: #b2973c;
}

.statesbasediv{
    background-color: #565d58;
    margin-top: 300px;
    width: 1920px;
    height: 300px;
}