{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block main_content %}
<!-- No container here -->
{% endblock %}

{% block additional_content %}
    <br>
    <div class="dashboard">
        <div class="cards">
            <div class="card red" style="background-color: #e7c34f;" role="button" aria-label="Weather Search" onclick="window.location.href='{{ url_for('weather') }}';" tabindex="0">
                <p class="tip">Weather Search</p>
                <p class="second-text">If you want to save your HTML, CSS and JavaScript code, and create your own website</p>
            </div>
            <div class="card blue" style="background-color: #e7c34f;" role="button" aria-label="Forest Fire Prediction" onclick="window.location.href='{{ url_for('predic_page') }}';" tabindex="0">
                <p class="tip">Forest Fire Prediction</p>
                <p class="second-text">You can change the website's look and how it works by editing the code right in your web browser.</p>
            </div>
        </div>
      </div>
{% endblock %}
