<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherSearch</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body style="background-color:lightgrey;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-top:8px;margin-left:10px;margin-right:10px; background-color:#333333">
        {% if 'username' in session %}
            <a href="{{ url_for('dashboard') }}">Home</a>
            <a href="{{ url_for('weather') }}">Weather Search</a>
            <a href=#>Page 2</a>
        {% else %}
            <a href="{{ url_for('login') }}">Home</a>
        {% endif %}

        {% if 'username' in session %}
            <a href="{{ url_for('logout') }}"class="right">Logout</a>
            <a class="right">{{session['username']}}</a>

        {% else %}
            <a href="{{ url_for('login') }}" class="right">Login</a>
            <a href="{{ url_for('register') }}" class="right">Register</a>
        {% endif %}
    </div>
    <br>
<nav class="row" style="background: #337ab7; color: white;">
  </nav>
  <br />
  <br />
  <center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

  </center>
    {% if maindata %}
     <div class="weather_data_print">
        <div class="weather-icon">
            <img src="weather-icon.png" alt="Weather Icon">
        </div>
        <div class="temperature">
            {{maindata[0]['temperature_max']}}<span>°C </span>
        </div>
        <div class="weather-info">
            <div>Precipitation: {{maindata[0]['precipitation']}}%</div>
            <div>Humidity: {{maindata[0]['humidity_max']}}%</div>
            <div>Wind: {{maindata[0]['windspeed_max']}} km/h</div>
        </div>
        <div class="weather-details">
            <div class="weather-title">{{maindata[0]['cityname']}}</div>
            <div class="weather-day">{{maindata[0]['day']}}</div>
            <div class="weather-description">{{maindata[0]['weather_code']}}</div>
        </div>
     </div>
    <div class="forcast_data_print">
     <div class="forecast">
         {% for data in maindata %}
        <button class="day highlight" onclick="alert('Monday forecast: 37°C/28°C, Partly Cloudy')">
            <p>{{ data['day'] }}</p>
            <img src="partly_cloudy.png" alt="IMG">
            <p class="paragraph_secondrow">{{ data['temperature_max'] }}° {{ data['temperature_min'] }}°</p>
        </button>
         {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>
